header {
    display: flex;
    margin: auto;
    max-width: 1400px;
    justify-content: center;
    align-items: center;
}

.fa-solid {
    font-weight: 900;
}

header img {
    height: 25.5px;
    margin: 20px 0px 10px;
}

.img-menu {
    z-index: -1;
    position: relative;
}

.img-menu img {
    object-fit: cover;
    width: 100%;
    max-height: 240px;
}

.menu {
    margin-top: -40px;
    padding-bottom: 80px;
    border-radius: 40px 40px 0px 0px;
    background-color: rgb(240 240 240);
}

.menu .bloc-menu {
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 90%;
    margin: auto;
}

.menu .bloc-menu .bloc-titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-bottom: -15px;
    width: 100%;
}

.menu .bloc-menu .bloc-titre h1 {
    font-family: 'Shrikhand', sans-serif;
    font-size: 27px;
    font-weight: 500;
}

.heart-full #heart {
    display: none;
    margin-left: -24px;
}

.menu .bloc-menu .bloc-titre .fa-heart {
    position: absolute;
    right: 5%;
}

.menu .bloc-menu h2 {
    font-weight: 400;
    font-size: 16px;
    border-bottom: 3.5px solid #99e2d0;
    width: 10%;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.menu .bloc-menu .bloc-plat {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.menu .bloc-menu .bloc-plat .plat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 3px 15px -10px;
    min-width: 310px;
    overflow: hidden;
    cursor: pointer;
}

.menu .bloc-menu .bloc-plat .plat .text {
    padding: 10px;
    width: 100%;
}

.menu .bloc-menu .bloc-plat .plat .text h3 {
    font-weight: 500;
    font-size: 17.5px;
    margin-bottom: 5px;
    max-width: 258px;
}

.menu .bloc-menu .bloc-plat .plat .text .align {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu .bloc-menu .bloc-plat .plat .text .align p {
    font-size: 14px;
    overflow: hidden;
}

.menu .bloc-menu .bloc-plat .plat .text .align span {
    font-size: 14px;
    font-weight: 700;
    padding-right: 15px;
}

.btn {
    margin: auto;
    width: 125px;
    background: linear-gradient(#ff79da, #9356dc);
    box-shadow: 0px 5px 15px -10px;
    border-radius: 30px;
    padding: 15px 0px;
}

.btn a {
    text-decoration: none;
    padding: 15px 25px;
}

.btn a span {
    font-size: 16px;
    font-weight: 400;
    color: white;
}

footer {
    background-color: rgb(50 50 50);
    color: white;
}

footer .bloc-footer {
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
}

footer .bloc-footer a {
    text-decoration: none;
    color: white;
}

footer .bloc-footer h2 {
    font-family: "Shrikhand", sans-serif;
    font-size: 18px;
    font-weight: 100;
    padding: 20px 0px;
}

footer .bloc-footer nav ul {
    list-style: none;
    font-size: 16px;
    padding: 0px;
}

footer .bloc-footer nav ul li {
    padding-bottom: 8px;
    font-size: 15px;
}

footer .bloc-footer nav ul li a {
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 500;
}

footer .bloc-footer nav ul li a i {
    width: 15px;
}

